<div id="login" class="login-signup" >
    <span class="hook"></span>
    <div class="login-title">LogIn for VOD</div>

    <div class="row clearfix">
        <div class="col-sm-6">

            <form name="login" ng-submit="loginForm(loginData, login.$valid)" novalidate>
                <input type="text" ng-model="loginData.username" name="username" placeholder="Email" required>

                <span style="color:red" ng-show="login.$submitted || login.username.$dirty && login.username.$touched && login.username.$invalid">
                <span class="eroor" ng-show="login.username.$error.required">Email is required.</span>
                    <span class="eroor"  ng-show="login.username.$error.email">Invalid Email</span>
                                            </span>
                <input type="password" ng-model="loginData.password" placeholder="Password" name="password"  required>
                <span style="color:red" ng-show="login.$submitted || login.password.$dirty && login.password.$touched && login.password.$invalid">
                                                <span class="eroor" ng-show="login.password.$error.required">Password is required.</span>

                                            </span>

                <input type="submit" value="Login">
            </form>
            <div >
                <ul>
                    <!--<li class="s-text errormessage" data-ng-repeat="x in Messages track by $index">-->

                        <!--{{ x }}-->
                    <!--</li>-->
                </ul>
            </div>
        </div>


    </div>

</div>